body {
  font-family: sans-serif;
}
.inputs {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 50%;
}
.progress {
  border: 2px solid grey;
  width: 300px;
  height: 30px;
  margin: 0 auto;
}
.progress-done {
  height: 100%;
  width: 0;
  background-color: chartreuse;
}
